// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
SWIFT_COMPILATION_MODE = wholemodule
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES
SWIFT_OPTIMIZATION_LEVEL = -O
MTL_ENABLE_DEBUG_INFO = NO
ENABLE_NS_ASSERTIONS = NO

