// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
INFOPLIST_FILE = RxSwiftCountSampleTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.funzin.RxSwiftCountSampleTests
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
IPHONEOS_DEPLOYMENT_TARGET = 13.2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
TEST_HOST = $(BUILT_PRODUCTS_DIR)/RxSwiftCountSample.app/RxSwiftCountSample
BUNDLE_LOADER = $(TEST_HOST)

